<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="myConnectionString2" connectionString="Data Source=.;Initial Catalog=SchoolLeaning;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="myConnectionString1" connectionString="workstation id=schoolLearning.mssql.somee.com;packet size=4096;user id=sarahahmed_SQLLogin_1;pwd=irp8syt4x3;data source=schoolLearning.mssql.somee.com;persist security info=False;initial catalog=schoolLearning"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
        <binding name="WebService1Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.somee.com/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReference1.WebService1Soap" name="WebService1Soap" />
      <endpoint address="http://www.services.somee.com/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap1"
        contract="ServiceReference2.WebService1Soap" name="WebService1Soap1" />
    </client>
  </system.serviceModel>
</configuration>